$primary-color: red;
$seconday-color: blue;
#btnControl {
    display: none;
}

%btn {
    width: 60px;
    height: 20px;
    background: silver;
    border-radius: 5px;
    padding: 1px 3px;
    box-shadow: 1px 1px 1px #000;
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    font-family: arial;
    font-size: 12px;
    line-height: 20px;
}

.btn-red {
    @extend %btn;
    color: $primary-color;
     :active {
        margin-left: 1px 1px 0;
        box-shadow: -1px -1px 1px #000;
        outline: 1px solid black;
        -moz-outline-radius: 5px;
        background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
    }
    #btnControl:checked+label {
        width: 70px;
        height: 74px;
        line-height: 74px;
    }
}

.btn-blue {
    @extend %btn;
    color: $seconday-color;
     :active {
        margin-left: 1px 1px 0;
        box-shadow: -1px -1px 1px #000;
        outline: 1px solid black;
        -moz-outline-radius: 5px;
        background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
    }
}